/* Typography: Heebo and Martel fonts (Google Fonts) */

// Import Fonts from CDNs or local files
// Google Fonts
//@import url(https://fonts.googleapis.com/css?family=Heebo:300,400,700)
@import url('https://fonts.googleapis.com/css?family=Martel:300,400,700')

@import url('https://fonts.googleapis.com/css?family=Cambay:400,400i,700,700i&subset=latin-ext')
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&subset=latin-ext')
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i&subset=latin-ext')


// Font Variables
/* Standardise the font-family names, add appropriate values for weights and styles */
//$font-heebo: 'Heebo', sans-serif
$font-martel: 'Martel', serif
$font-cambay: 'Cambay', sans-serif
$font-roboto: 'Roboto', sans-serif
$font-robotoCondenced: 'Roboto Condensed', sans-serif

//  Helper Variables:
$font-sans: $font-cambay
$font-sans-alt: $font-roboto
$font-sans-condensed: $font-robotoCondenced
$font-serif: $font-martel

//  Font ROOT SIZE definition: Use in HTML tag with @media overrides for scaling
$font-root-size: 14px
//$font-size-scaler: 1
$font-size-scaler: 1.5

@mixin font-size-scaler ($font-scale-value)
  @if $font-scale-value != 0
    font-size: $font-root-size * ($font-size-scaler * $font-scale-value)
  @else
    font-size: $font-root-size

.test-font-size-0
  @include font-size-scaler(0)
.test-font-size-1
  @include font-size-scaler(1)
.test-font-size-2
  @include font-size-scaler(2)
.test-font-size-3
  @include font-size-scaler(3)

//  Font-Weight Variable
$font-weight-light: 300
$font-weight-normal: 400
$font-weight-heavy: 700

//  Font-Weight Classes
.text-thin
  font-weight: $font-weight-light
.text-normal
  font-weight: $font-weight-normal
.text-heavy
  font-weight: $font-weight-heavy

//  Line-Height Variables
$font-line-height-gappy: 2.5
$font-line-height-loosest: 2.25
$font-line-height-looser: 2
$font-line-height-loose: 1.75
$font-line-height-default: 1.5
$font-line-height-tight: 1.25
$font-line-height-tighter: 1
$font-line-height-tightest: 0.75
$font-line-height-squished: 0.5

//  Font Spacing Variables:
$font-kerning: normal
$font-letter-spacing: normal
$font-word-spacing: normal

//  Font transformation Variables:
$font-all-cap: uppercase

//  Semantic Font Size Variables
$font-size-small: 1rem / $font-size-scaler      //tiny text
$font-size-default: 1rem        //body text
$font-size-medium: 1rem * $font-size-scaler     //heading text
$font-size-large: 1rem * $font-size-scaler * $font-size-scaler  //title text

//  Semantic Font Size variables, placeholders, and classes
$font-size-title-large: 2.5rem
$font-size-title-normal: 2.25rem
$font-size-title-small: 2rem
$font-size-title: $font-size-title-normal
%font-title
  font-size: $font-size-large
.title-large
  font-size: $font-size-title-large
.title-small
  font-size: $font-size-title-small

$font-size-subtitle-large: 2rem
$font-size-subtitle-normal: 1.75rem
$font-size-subtitle-small: 1.55rem
$font-size-subtitle: $font-size-subtitle-normal
.subtitle-large
  font-size: $font-size-subtitle-large
.subtitle-small
  font-size: $font-size-subtitle-small

$font-size-heading-large: 1.5rem
$font-size-heading-normal: 1.25rem
$font-size-heading-small: 1rem
$font-size-heading: $font-size-heading-normal
%font-heading
  font-size: $font-size-medium
.heading-large
  font-size: $font-size-heading-large
.heading-small
  font-size: $font-size-heading-small

$font-size-body-larger: 1.5rem
$font-size-body-large: 1.25rem
$font-size-body-normal: 1rem
$font-size-body-small: .75rem
$font-size-body-smaller: .5rem
$font-size-body: $font-size-body-normal
%font-body-small
  font-size: $font-size-small
%font-body
  font-size: $font-size-default
.body-larger
  font-size: $font-size-heading-small
.body-large
  font-size: $font-size-body-large
.body-small
  font-size: $font-size-heading-small
.body-smallest
  font-size: $font-size-body-smaller


//Note: These can probably be removed if you want to use Bootstrap calls, however, if they change in bootstrap, you'll need to address them in the cuture.
.text-align-left
  text-align: left
.text-align-right
  text-align: right
.text-align-center
  text-align: center


.page-title
  @extend .title-large
  @extend .text-heavy
.page-subtitle
  @extend .subtitle-small
.page-heading
  @extend .heading-large
.page-body
  @extend .body-large

.section-title
  @extend .heading-large
.section-subtitle
  @extend .subtitle-small
.section-heading
  @extend .heading-large
.section-body
  @extend .body-large



//Following to be moved to, somewhere after mixins and before here
$color-accent-default: get-color(glacier)
$color-default: get-color(dark-gray)
$color-default-light: get-color(light-gray)
$color-white: white
$background-color-default: white
$background-color-accent-default: get-color(glacier)


//Following used in :
$font-color-accent-default: $color-accent-default
$font-color-default: $color-default


//Placeholder for Root Font Size Adjustment
%font-root-size-adjusted
  font-size: $font-root-size
  @media #{$variable-screen-type-screen}
    font-size: $font-root-size * $font-size-scaler * .5
  @media #{$variable-screen-type-computer}
    font-size: $font-root-size * $font-size-scaler * .5
  @media #{$variable-screen-type-laptop}
    font-size: $font-root-size * $font-size-scaler * .75
  @media #{$variable-screen-type-laptop-retina}
    font-size: $font-root-size * $font-size-scaler * .75
  @media #{$variable-screen-type-laptop-4k}
    font-size: $font-root-size * $font-size-scaler


//Placeholder for base Sizing and Spacing
%global-typography-sizing
  @extend %font-root-size-adjusted
  line-height: $font-line-height-default

%global-typography-spacing
  letter-spacing: $font-letter-spacing
  font-kerning: $font-kerning
  word-spacing: $font-word-spacing


//Degine HTML and Body Tags
html
  //font-size: $font-size-default
  @extend %font-root-size-adjusted
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
body
  //@extend %global-typography-sizing //Is this causing a bug with  globalNav on certain browers when clicking SEARCH icon
  @extend %global-typography-spacing
  background-color: $background-color-default
  color: $font-color-default
  font-family: $font-sans
  font-size: $base-unit-rem
  font-weight: $font-weight-light
  line-height: $font-line-height-default

//Define Heading Tag(s)
h1, h2, h3, h4, h5, h6
  font-family: $font-sans
  font-weight: $font-weight-normal
  //text-align: center
// Heading Sizing
h1
  font-size: $font-size-title-large
h2
  font-size: $font-size-title-small
h3
  font-size: $font-size-subtitle-large
h4
  font-size: $font-size-subtitle-small
h5
  font-size: $font-size-heading-large
h6,
  font-size: $font-size-heading-small

//h1, h2
  letter-spacing: 0.05rem

//Define Paragraph Tag(s)
p
  font-size: $font-size-body-large
  font-weight: $font-weight-normal
  text-align: left
  //color: $font-color-default
  &.body-small
    font-size: $font-size-body-small
  &.body-larger
    font-size: $font-size-heading-small
  &:not(:last-child)
    padding-bottom: ($global-block-padding/2)

//Define Link Tag(s)
a
  //color: $font-color-accent-default
  text-decoration: none
  &:hover, &:focus, &:active
    //color: $font-color-accent-default
    text-decoration: underline

//Define Blockquote Tag(s)
blockquote, figcaption, .blockquote, .quote, .caption
  font-family: $font-serif
  font-weight: $font-weight-light


//Define button Tag(s)
button,
.button
  font-family: $font-sans
  //font-weight: $font-weight-heavy


//NOTE: .introTextBlock class moved to partial/_introTextBlock.sass
//.introTextBlock
  @extend %global-block-padding
  .introText-title,
  .introText-subtitle
    padding-bottom: 2rem
    &.title-extended
      padding-bottom: 4rem
    &.title-compressed
      padding-bottom: 0.5rem
    &.title-flush
      padding-bottom: 0

  .introText-subtitle
    @extend .text-thin

  .introText-body
    @extend .body-larger
    &.body-larger
      @extend .heading-small
    &.body-small
      @extend .body-large

.pubInfo
  text-size: $font-size-body-smaller
  padding-bottom: $global-block-padding-4
  //@extend %global-block-padding
  p
    margin: 0
  .pubInfo-date
    padding: 0
  .pubInfo-author
    padding: 0
  .icon
    float: left
    padding-right: 1rem


//  STYLING - TO MOVE AND COMPLETE
/*    From: _block-introTextBlock.sass  */
//.textBlock-accentColor-default
//    h1, h2, h3, h4, h5
//      color: $font-color-default
//    p
//      color: $color-primary
//.textBlock-accentColor-default
//    h1, h2, h3, h4, h5, a
//      color: $font-color-default
//    p
//      color: $font-color-default
//.textBlock-accentColor-currentTheme
//    h1, h2, h3, h4, h5, a
//      color: $font-color-accent-default
//    p
//      color: $font-color-default
// .textBlock-accentColor-glacier
//    h1, h2, h3, h4, h5, a
//      color: $font-color-accent-default
//.textBlock-accentColor-streamlio-cyan
//    h1, h2, h3, h4, h5, a
//      color: get-color(streamlio-cyan)
//.textBlock-accentColor-streamlio-blue
//    h1, h2, h3, h4, h5, a
//      color: $font-color-accent-default
//.textBlock-accentColor-streamlio-green
//    h1, h2, h3, h4, h5, a
//      @extend .color-streamlio-green
