//  dev.sass


.media-card
  border: $global-border-stroke
  text-align: left
  
  figure
    margin: 0 -15px 15px
  
  .card-heading,
  .card-info
    padding-bottom: $global-block-padding-3
    
  .card-heading
    //nothing here to see, move along
    
  .card-catagory
    font-size: $font-size-heading-small
  .card-title
    font-weight: $font-weight-heavy
  .card-info
    
    span.icon
      padding-right: 1rem
      position: absolute
    p.card-date,
    p.card-author
      font-size: $font-size-heading-small
      line-height: $font-line-height-loose
      position: relative
      margin-bottom: $global-block-padding-0
      padding-bottom: $global-block-padding-0
      padding-left: $global-block-padding
  .card-body
    margin-bottom: $global-block-padding
  .card-footer
    display: inline-block
    bottom: 0
    left: 0
    right: 0
    position: absolute
    text-align: center
    padding-bottom: $global-block-padding-1
    > button + button
      margin-left: $global-block-padding-2