//  buttons.sass


//  Button Composit Class
%button-shadow
  box-shadow: $global-box-shadow-small
  transition: $global-transition
  &:hover
    background-color: transparent
    box-shadow: $global-box-shadow

button,
.button
  @extend %button-shadow
  border: $global-button-border
  border-radius: .5em
  background-color: transparent
  //font-size: $base-unit-rem*1.5
  //padding: $base-unit-rem $base-unit-rem $base-unit-rem*.75
  line-height: 1
  padding: 1em 1em .75em
  z-index: 100
  &:hover
    z-index: 101

.button-action
  @extend button

.button-default
  @extend button
  color: $color-accent-default !important
  border-color: $color-accent-default
  background-color: transparentize($color-white,0.16)
  &:hover
    color: white !important
    border-color: white
    background-color: transparentize($color-accent-default,0.16)

.button-default-reverse
  @extend button
  color: white !important
  border-color: white
  background-color: transparentize($color-accent-default,0.16)
  &:hover
    color: $color-accent-default !important
    border-color: $color-accent-default
    background-color: transparentize($color-white,0.16)

//.button-apple
  @include set-button-color(apple)



@include generate-button-classes-for-streamlio-colors



//  Call to action 2 col useage:
//button
  color: $color-accent-default
  border-width: 1px
  border-color: $color-accent-default
  border-style: solid
  background-color: rgba(white, 0.15)
  box-shadow: 0 1px 2px rgba(0,0,0,0.15)
  transition: box-shadow 0.15s ease-in-out
  &:hover
    color: white
    background-color: rgba($color-accent-default,.82)
    //@extend: .bg-color-light-gray
    box-shadow: 0 5px 15px rgba(0,0,0,0.35)
    z-index: 100
