//  cardListBlock.sass


//$text-title: $color-text-accent
//$text-body: $color-text-primary


.card-list-block
  padding-top: $global-block-padding
  padding-bottom: $global-block-padding
  //@extend .bg-color-glacier
  color: $color-streamlio-white
  background-repeat: no-repeat
  background-size: cover
  //background-image: url("../media/background/plexus1e.png")
  text-align: left
  > .row
    //padding-top: $global-block-padding
    padding-bottom: $global-block-padding
  h1, h2
    color: $color-streamlio-white
  h5
    color: $font-color-accent-default
  .cardList
    display: table
  .panel
    display: -webkit-flex
    //height: 100%
    border-width: 1px
    border-color: rgb(230, 230, 230)
    border-style: solid
    background-color: rgb(72, 105, 131)
    box-shadow: 0 1px 2px rgba(0,0,0,0.15)
    transition: box-shadow 0.15s ease-in-out
    &:hover
      background-color: darken(rgb(72, 105, 131), 15%)
      box-shadow: 0 5px 15px rgba(0,0,0,0.5)
      z-index: 100
  .panel-body
    //height: calc(100vh - 300px)
    overflow-y: auto
    h5
      color: lighten(rgb(72, 105, 131), 15%)
      text-transform: uppercase
    p
      font-size: $font-size-body-large
    ul
      padding-left: $base-unit-em
    li
      font-size: $font-size-body-large
    .card-title
      font-size: $font-size-heading-large
      text-transform: $font-all-cap
      padding-bottom: $global-block-padding-2
    .card-icon,
    .card-catagory,
    .card-date,
    .card-author
      font-size: $font-size-heading-small
    .card-footer
      //display: inline-block
      width: 100%
      position: absolute
      bottom: 0
      //vertical-align: bottom

