//  globalNav.sass


//  Define global color variables to be used for the Global Navbar
//$global-navbar-color-accent: get-color(glacier)
//$global-navbar-color-default: get-color(dark-gray)
//$global-navbar-background-color: white

//Gradients for the Global NavBar
//Backgound gradient
$global-navbar-large-background: linear-gradient(to right, rgba($global-navbar-background-color,1), rgba($global-navbar-background-color,1) 20%, rgba($global-navbar-background-color,0.82))
$global-navbar-small-background: linear-gradient(to right, rgba($global-navbar-background-color,1), rgba($global-navbar-background-color,1) 20%, rgba($global-navbar-background-color,1))
//Hover gradient
$global-navbar-color-accent-linear-gradient: linear-gradient($global-navbar-color-accent, $global-navbar-color-accent) top no-repeat

//TODO: Fix the navbar's BG element and add a pseudo element that changes opacity from 0 to 1, as the linear-gradient attribute does not animage properly.
//NOTE: Change the "small-background" above to be "to bottom", the second color stop to 80, and the last opacity valye back to 0.82, as this shoudl produce a fade effect at the bottom of the navbar.

%global-navbar-large-background
  background: $global-navbar-large-background
%global-navbar-small-background
  background: $global-navbar-small-background


%global-navbar-large-settings
  min-height: $global-navbar-height-large
  line-height: $global-navbar-height-large
%global-navbar-small-settings
  min-height: $global-navbar-height-small
  line-height: $global-navbar-height-small


.navbar-global
  @extend %global-navbar-large-background
  border: none
  box-shadow: $global-box-shadow
  //height: $global-navbar-height-large
  //min-height: $global-navbar-height-large
  transition: $global-transition-default
  z-index: 1000
  &.navbar-compressed
    @extend %global-navbar-small-background
    //height: $global-navbar-height-small
    min-height: $global-navbar-height-small
    transition: $global-transition-default
    .nav > li
      line-height: $global-navbar-height-small
    .nav > li > a
      font-size: $global-navbar-text-small
      line-height: $global-navbar-height-small
      &.button-action
        line-height: 40px
        margin-top: 2px
        padding-top: 2px
    span.icon
      font-size: $global-navbar-text-small
      line-height: $global-navbar-height-small
    .navbar-brand
      //padding: 0 0 0 20px
      //line-height: $global-navbar-text-small
      > img
        height: $global-navbar-height-small
        padding: 0
        @media (max-width: 911px)
          height: $global-navbar-height-large
        @media (max-width: 375px)
          height: $global-navbar-height-large*.8
  .dropdown-menu
    font-size: inherit
  .nav.navbar-right
    padding-right: $global-navbar-text-large
  .nav > li
    background: $global-navbar-color-accent-linear-gradient
    background-color: transparent
    background-size: 0% 2px
    transition: $global-transition-default
    &:hover
      background: $global-navbar-color-accent-linear-gradient
      background-color: transparent
      background-size: 100% 2px
      > a
        text-decoration: underline
  .nav > li > a
    font-size: $global-navbar-text-large
    line-height: $global-navbar-height-large
    padding: 0 $global-navbar-text-large
    transition: $global-transition-default
    @media (max-width: 911px)
      line-height: $global-navbar-height-small
    &:not([class~="button-action"])
      color: $global-navbar-color-default
    &:focus,
    &:hover
      background-color: transparent
      &:not([class~="button-action"])
        color: $global-navbar-color-accent
    &.button-action
      line-height: 50px
      margin-top: 20px
      padding-top: 5px
    span.icon
      color: $global-navbar-color-accent
      font-size: $global-navbar-text-large
      line-height: $global-navbar-height-large
      //padding: 0 $global-navbar-text-large/2
  .navbar-brand
    padding: 0 0 0 10px
    height: auto
    line-height: $global-navbar-text-large
    transition: $global-transition-default
    > img
      height: $global-navbar-height-large
      //padding: $global-navbar-text-small 0
      width: auto
      transition: $global-transition-default
      //@media #{$variable-screen-size-ld}
        padding-bottom: $base-unit-em
        padding-top: $base-unit-em
      @media (max-width: 375px)
        height: $global-navbar-height-large*.8

  .navbar-toggle
    margin: ($global-navbar-height-large/4) 1rem
    .icon-bar
      background-color: $global-navbar-color-default
    &:hover
      .icon-bar
        background-color: $global-navbar-color-accent
  .navbar-collapse
    //@extend %global-navbar-large-background
    max-height: max-content
    //> .navbar-right
      margin-right: 0
    //&.collapse.in
      .nav > li > a
        line-height: $global-navbar-height-small


#navbar-search
  box-shadow: $global-box-shadow
  color: $global-navbar-color-accent
  transition: $global-transition-default
  z-index: 90
  .form-control,
  .input-group-addon
    @include border-radius
  .form-control
    color: $global-navbar-color-accent
    &::-moz-placeholder
      color: $global-navbar-color-accent
  .input-group-addon
    color: $global-navbar-color-accent
    &:hover
      color: $color-white
      background-color: $global-navbar-color-accent

@media (max-width: 911px)
  .navbar-header
    float: none
  .navbar-left,.navbar-right
    float: none !important
  .navbar-right .dropdown-menu
    left: 0
  .navbar-toggle
    display: block
  .navbar-collapse
    //border-top: 1px solid transparent
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1)
  .navbar-fixed-top
    top: 0
    border-width: 0 0 0px
  .navbar-collapse.collapse
    display: none!important
  .navbar-nav
    float: none!important
    margin-top: 7.5px
  .navbar-nav>li
    float: none
  .navbar-nav>li>a
    //padding-top: 10px
    //padding-bottom: 10px
  //.butonn-action
    margin: 0
  .collapse.in
    display: block !important
