//  modal-mediaList.sass


//.feature-list
  padding-top: $global-block-padding
  padding-bottom: $global-block-padding


//.card-feature
  padding-bottom: $global-block-padding/2
  > h1, h2, h3, h4, h5
    text-align: left
    letter-spacing: 0.1rem
    word-spacing: 0.1rem
    line-height: 1.125
    font-weight: bold
    text-transform: uppercase
    color: $text-title
  > h1, h2
    font-size: 1.5rem
  > h3,h4, h5
    font-size: 1.25rem
  > p
    font-size: 1.125rem
    line-height: 1.5
    color: $color-text-primary
    a
      color: $color-text-accent
      text-decoration: none
      &:hover
        text-decoration: underline
