//  Variables
//  Used to hold global layout variables, maps, lists, and other variable structural data.

$element-list-blocks: () //use to contain block level elements
$element-list-sections: () //use to contain section level elements
$element-list-pages: () //use to contain page level elements
$template-list: () //use to defint templates
$composition-list: () //use to defint structural composition of pages

//  variable-screen-size Variable: the definitions for @media overrides
//  The variable-screen-size is used to set the state of the @media directives...
//  TODO: Add additional units, not strings, and extact into a Mixin for processing.
$global-breakpoint-320: 320px
$global-breakpoint-414: 414px
$global-breakpoint-768: 768px
$global-breakpoint-911: 911px
$global-breakpoint-992: 992px
$global-breakpoint-1024: 1024px
$global-breakpoint-1200: 1200px
$global-breakpoint-1440: 1440px
$global-breakpoint-2660: 2660px

$global-breakpoint-smallest: $global-breakpoint-320
$global-breakpoint-smaller: $global-breakpoint-414
$global-breakpoint-small: $global-breakpoint-768
$global-breakpoint-medium: $global-breakpoint-992
$global-breakpoint-large: $global-breakpoint-1200
$global-breakpoint-larger: $global-breakpoint-1440
$global-breakpoint-largest: $global-breakpoint-2660

//  Boostrap variable override
$grid-float-breakpoint: $global-breakpoint-medium


//Variables for Screen DPXR
$variable-screen-dpr-100: '(-webkit-min-device-pixel-ratio: 1)'
$variable-screen-dpr-125: '(-webkit-min-device-pixel-ratio: 1.25)'
$variable-screen-dpr-150: '(-webkit-min-device-pixel-ratio: 1.5)'
$variable-screen-dpr-200: '(-webkit-min-device-pixel-ratio: 2)'
$variable-screen-dpr-300: '(-webkit-min-device-pixel-ratio: 3)'
$variable-screen-dpr-400: '(-webkit-min-device-pixel-ratio: 4)'


//iPhone 4, 4S
$variable-device-type-iPhone-4: 'screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)'
//iPhone 5, 5Sdevice 5C and 5SE
$variable-screen-type-iPhone-5: 'screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2)'
//iPhone 6, 6Sdevice 7 and 8
$variable-screen-type-iPhone-678: 'screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2)'
//iPhone 6+, 7+ and 8+
$variable-device-type-iPhone-678p: 'screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3)'
//iPhone X
$variable-screen-type-iPhone-X: 'screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3)'

//iPad 1, 2, Mini and Air
$variable-device-type-iPad-12miniAir: 'screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1)'
//iPad 3, 4 and Pro 9.7
$variable-device-type-iPad-345P97: 'screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2)'
//iPad Pro 10.5
$variable-device-type-iPad-P105: 'screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2)'
//iPad Pro 12.9
$variable-device-type-iPad-P129: 'screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)'
//iPhone X
$variable-device-type-iPhone-X: 'screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3)'

//Computers and Displays
$variable-screen-type-screen: 'screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1)'
$variable-screen-type-computer: 'screen and (min-device-width: 1024) and (max-device-width: 1199px) and (-webkit-min-device-pixel-ratio: 1)'
$variable-screen-type-laptop: 'screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1)'
$variable-screen-type-laptop-retina: 'screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)'
$variable-screen-type-laptop-4k: 'screen and (min-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)'


//  Mobile First Method
//Custom, iPhone Retina - In Order
$variable-screen-size-xxs: 'screen and (min-device-width: 320px)'
//Extra Small Devices, Phones
$variable-screen-size-xsd: 'screen and (min-device-width: 480px)'
//Small Devices, Tablets
$variable-screen-size-sd: 'screen and (min-device-width: 768px)'
//Medium Devices, Desktops
$variable-screen-size-md: 'screen and (min-device-width: 992px)'
//Large Devices, Wide Screens
$variable-screen-size-ld: 'screen and (min-device-width: 1200px)'
//Extra Large Devices, Wide Screens
$variable-screen-size-xld: 'screen and (min-device-width: 1440px)'
//Custom, Super Wide Screens
$variable-screen-size-xxld: 'screen and (min-device-width: 1600px)'

//  Non-Mobile First Method - In Order
//Custom, Super Wide Screens
//$variable-screen-size-xxld: 'screen and (max-device-width: 1600px)'
//Extra Large Devices, Wide Screens
//$variable-screen-size-xld: 'screen and (max-device-width: 1440px)'
//Large Devices, Wide Screens
//$variable-screen-size-ld: 'screen and (max-device-width: 1200px)'
//Medium Devices, Desktops
//$variable-screen-size-md: 'screen and (max-device-width: 992px)'
//Small Devices, Tablets
//$variable-screen-size-sd: 'screen and (max-device-width: 768px)'
//Extra Small Devices, Phones
//$variable-screen-size-xsd: 'screen and (max-device-width: 480px)'
//Custom, iPhone Retina
//$variable-screen-size-xxs: 'screen and (max-device-width: 320px)'


//Custom size used for footer, check to see if can be refactored
$variable-screen-size-footer: 'screen and (min-width: 768px)'

//Variable-screen-size is defined in _units, but you can override it here to test the @media directives
$variable-screen-size-test: 'screen and (min-width: 600px) and (max-width: 1200px)'



//  Global margin and padding placeholders and classes:
%global-block-margin
  margin-top: $global-block-padding
  margin-bottom: $global-block-padding
%global-block-margin-small
  margin-top: $global-block-padding-2
  margin-bottom: $global-block-padding-2
%global-block-margin-tiny
  margin-top: $global-block-padding-05
  margin-bottom: $global-block-padding-05

%global-block-padding
  padding-top: $global-block-padding
  padding-bottom: $global-block-padding
%global-block-padding-small
  padding-top: $global-block-padding-2
  padding-bottom: $global-block-padding-2
%global-block-padding-tiny
  padding-top: $global-block-padding-05
  padding-bottom: $global-block-padding-05

.content-block
  @extend %global-block-margin
.content-block-small
  @extend %global-block-margin-small
.content-block-tiny
  @extend %global-block-margin-tiny
.content-block-padding
  @extend %global-block-padding
.content-block-padding-small
  @extend %global-block-padding-small
.content-block-padding-tiny
  @extend %global-block-padding-tiny


//  Flex for row:
.row-eq-height
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  @media (max-width: $global-breakpoint-small)
    display: block
    width: 100%

.box-eq-height
  flex: 1 0 auto

.center-flex
  display: flex
  align-items: center
  //justify-content: center

//  center alignment:
.center-v
  position: relative
  transform: translateY(50%)
.center-v-2
  position: relative
  transform: translateY(25%)


//  Global Column placeholders and classes:
%column-count-1
  -webkit-column-gap: 0
  -moz-column-gap: 0
  column-gap: 0
  -webkit-column-count: 1
  -moz-column-count: 1
  column-count: 1
%column-count-2
  -webkit-column-gap: 30px
  -moz-column-gap: 30px
  column-gap: 30px
  -webkit-column-count: 2
  -moz-column-count: 2
  column-count: 2

.columns-2
  -webkit-column-gap: 30px
  -moz-column-gap: 30px
  column-gap: 30px
  -webkit-column-count: 2
  -moz-column-count: 2
  column-count: 2
  &:not(:last-child)
    padding-bottom: $global-block-padding
  @media screen and (max-width: $global-breakpoint-small)
    -webkit-column-gap: 0
    -moz-column-gap: 0
    column-gap: 0
    -webkit-column-count: 1
    -moz-column-count: 1
    column-count: 1
    &:not(:last-child)
      padding-bottom: ($global-block-padding/2)
