//  Variables
//  Used to hold global variables, maps, lists, and other variable structural data.

//  Named Variables
//  Used to set global default variables.
$test-unit-em: 1em
$test-unit-rem: 1rem
$test-unit-1rem: 1rem
$test-unit-15rem: 15rem
$test-value-1: 911px
$test-value-2: #000000
$test-value-3: #7F7F7F
$test-value-3: #FFFFFF

//  Global NavBar variabless:
$global-navbar-height-large: 100px
$global-navbar-height-small: 50px
$global-navbar-text-large: 1rem //1.25rem
$global-navbar-text-small: 1rem
$global-navbar-subnavbar-height: $global-navbar-height-small
$global-navbar-subnavbar-text: $global-navbar-text-small

//  global-box-shadow variables:
$global-box-shadow: 0 5px 15px rgba(0,0,0,0.35)
$global-box-shadow-medium: 0 3px 5px rgba(0,0,0,0.15)
$global-box-shadow-small: 0 1px 2px rgba(0,0,0,0.15)
$global-box-shadow-hidden: 0 0px 0px rgba(0,0,0,0.0)

//  global-box-shadow variables:
$global-text-shadow: $global-box-shadow
$global-text-shadow-medium: $global-box-shadow-medium
$global-text-shadow-small: $global-box-shadow-small
$global-text-shadow-hidden: $global-box-shadow-hidden
$global-text-shadow-heavy: 0 5px 15px rgba(0,0,0,0.62)
$global-text-shadow-heavy-medium: 0 3px 5px rgba(0,0,0,0.62)
$global-text-shadow-heavy-small: 0 1px 2px rgba(0,0,0,0.62)
$global-text-shadow-heavy-hidden: $global-box-shadow-hidden

//  global-"transition" default:
$global-transition: all .16s ease-in-out
$global-transition-default: all .16s ease
$global-transition-slow: all .32s ease
$global-transition-box-shadow: box-shadow .16s ease-in-out

//  global-border styles:
$global-border-stroke: 2px solid rgb(230, 230, 230)
$global-border-stroke-small: 1px solid rgb(230, 230, 230)
$global-border-stroke-offset: -2px
$global-border-stroke-offset-small: -1px

//  global-button-border styles:
$global-button-border: 1px solid transparent

//  global default Card variables
$card-min-height: 20rem
$card-height: $card-min-height
